:root {
  --bg-color: oklch(0.98 0 0 0);
  --navbar-bg: oklch(98.5% 0.001 106.423);
  --navbar-shadow: 0 2px 10px oklch(87.2% 0.01 258.338);
  --brand-color: oklch(0.58 0.2282 260.03);
  --text-color: oklch(0.2 0 0 0);
  --text-color-muted: oklch(0.5 0.005 0);
}

[data-bs-theme="dark"] {
  --bg-color: oklch(14.7% 0.004 49.25);
  --navbar-bg: oklch(14.7% 0.004 49.25);
  --navbar-shadow: 0 2px 10px oklch(27.8% 0.033 256.848);
  --text-color: oklch(0.95 0 0 0);
  --text-color-muted: oklch(87.2% 0.01 258.338);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "DM Mono", monospace;
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.brand-color {
  color: var(--brand-color);
}

#navbar-main {
  background-color: var(--navbar-bg);
  box-shadow: var(--navbar-shadow);
  border-radius: 1rem;
  width: 90vw;
  margin: 0 auto;
  top: 0.5rem;
}
.nav-item .nav-link:hover {
  color: var(--brand-color);
  animation: bounce 0.8s linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

section {
  padding: 6rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color) !important;
}

p {
  color: var(--text-color-muted);
}

/* Animated Background */

#animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
}

/* Background optimizations */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
}

.background span {
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  animation: move 29s linear infinite;
}

@keyframes move {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
